<html t:type="Layout" t:title="New Page Title" t:id="layout" xmlns:t="http://tapestry.apache.org/schema/tapestry_5_3.xsd" xmlns:p="tapestry:parameter">

 <div class="eg">
        <form t:type="form" t:id="newlanguagesform">
            <t:errors/>
        
            <div class="t-beaneditor">
            <p>The Language you want to translate from</p>
                <t:beaneditor t:id="languageFrom" object="languageFrom" >[BeanEditForm here]
                    <p:name>
                       <t:textfield t:value="languageFrom.name"  validate="required"></t:textfield>
                    </p:name>
                </t:beaneditor>
            <p>The Language you want to translate to</p>
                <t:beaneditor t:id="languageTo" object="languageTo">[BeanEditForm here]
                    <p:name>
                       <t:textfield t:value="languageTo.name"  validate="required"></t:textfield>
                    </p:name>
                </t:beaneditor>
            
                <div class="t-beaneditor-row">
                    <input t:type="submit" value="Save"/>&nbsp;
                </div>
            </div>
        </form>
    </div>
</html>